@charset "UTF-8";
html {
  height: 100%;
}

body {
  font-family: Arial;
  display: relative;
}

.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  -webkit-animation: preloader-rotate 2s infinite linear;
          animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  -webkit-animation: preloader-bounce 2s infinite ease-in-out;
          animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes preloader-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes preloader-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.loaded_hiding .preloader {
  -webkit-transition: 0.3s opacity 0.3s;
  transition: 0.3s opacity 0.3s;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.navigation-bg {
  position: absolute;
  width: 1024px;
  height: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0px;
  grid-area: navigation-bg;
}

.navigation-bg .mainTitle {
  position: absolute;
  left: 44px;
  top: 18px;
  background-image: url("../../img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 110px;
  height: 24px;
}

.navigation-bg .navigation {
  position: absolute;
  top: 28px;
  left: 342px;
  width: 541px;
  height: 16px;
}

.navigation-bg .navigation > div {
  position: relative;
}

.navigation-bg .navigation button {
  background: none;
  border: none;
  top: 0px;
  font-size: 12px;
  line-height: 16px;
  color: #808D9A;
  text-align: center;
  letter-spacing: 0.68px;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 24.5px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
}

.navigation-bg .navigation button:active, .navigation-bg .navigation button:focus {
  color: #001A34;
  outline: none;
  cursor: default;
}

.navigation-bg .navigation button:hover {
  color: #005bff;
}

.navigation-bg .navigation button:nth-child(0n+1) {
  width: 59px;
  height: 16px;
  left: calc(50% - 59px/2);
}

.navigation-bg .navigation button:nth-child(0n+2) {
  width: 70px;
  height: 16px;
  left: calc(50% - 70px/2);
}

.navigation-bg .navigation button:nth-child(0n+3) {
  width: 52px;
  height: 16px;
  left: calc(50% - 52px/2 - 0.5px);
  top: 0px;
}

.navigation-bg .navigation button:nth-child(0n+4) {
  width: 84px;
  height: 16px;
  left: calc(50% - 84px/2 - 0.5px);
  top: 0px;
}

.navigation-bg .face {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 900px;
  top: 18px;
}

.navigation-bg .cart {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 948px;
  top: 18px;
}

.navigation-bg .cart .counter {
  display: none;
  position: absolute;
  width: 23px;
  height: 16px;
  left: 13px;
  right: 0px;
  top: -5px;
  bottom: 0px;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  background: #F91155;
  border-radius: 8px;
}

.header {
  grid-area: header;
  position: absolute;
  width: 1024px;
  height: 78px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 60px;
}

.header .title {
  position: absolute;
  height: 38px;
  width: 150px;
  left: 4.3%;
  right: 82.13%;
  top: calc(50% - 38px/2);
  font-size: 30px;
  line-height: 38px;
  font-weight: 600;
  color: #001A34;
}

.header .objects {
  position: absolute;
  height: 20px;
  left: 19.75%;
  right: 74.32%;
  top: calc(50% - 20px/2 + 5px);
  width: 200px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: #808D9A;
}

.main {
  position: absolute;
  top: 138px;
  width: 1024px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.singleGood {
  width: 216px;
  height: 384px;
  display: inline-block;
  margin: 20px;
}

.singleGood .picture {
  height: 200px;
  width: 200px;
}

.singleGood .info-block {
  width: 216px;
  height: 96px;
  position: relative;
}

.singleGood .info-block .badge {
  position: absolute;
  width: 34px;
  height: 20px;
  top: -30px;
  background: #F91155;
  border-radius: 3px;
  color: white;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}

.singleGood .info-block .badge .badgeText {
  position: absolute;
  height: 16px;
  left: 6px;
  right: 1px;
  top: calc(50% - 16px/2);
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  text-align: center;
  color: #FFFFFF;
}

.singleGood .info-block .price-block {
  position: absolute;
  width: 100%;
  height: 26px;
  left: 0px;
  top: -4px;
}

.singleGood .info-block .price-block .currentPrice {
  font-weight: 800;
  width: auto;
}

.singleGood .info-block .price-block .oldPrice {
  font-size: 12px;
  line-height: 16px;
  color: #001A34;
}

.singleGood .info-block .name-block {
  position: absolute;
  height: 40px;
  left: 0px;
  right: 0px;
  top: calc(50% - 40px/2 - 12px);
  font-size: 16px;
  line-height: 20px;
}

.singleGood .info-block .stars {
  position: absolute;
  left: 0%;
  right: 18.52%;
  top: 71.88%;
  bottom: 0%;
  font-size: 14px;
  line-height: 18px;
  color: #808D9A;
}

.singleGood .info-block .buttonContainer {
  position: absolute;
  left: 0%;
  right: 18.52%;
  top: 100%;
}

.singleGood .info-block .buttonContainer button {
  width: 96px;
  height: 32px;
  background: #005BFF;
  color: white;
  border: none;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.singleGood .info-block .buttonContainer button:hover {
  opacity: 0.7;
}

.singleGood .info-block .buttonContainer button:active, .singleGood .info-block .buttonContainer button:focus {
  outline: none;
}

.cartSelect {
  position: absolute;
  width: 696px;
  height: 60px;
  left: 43%;
  -webkit-transform: translateX(-48%);
          transform: translateX(-48%);
  right: 82.13%;
  top: 138px;
  background: #F2F3F5;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'left right';
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cartSelect .select {
  margin: 24px;
  text-align: left;
  font-size: 14px;
  line-height: -50px;
}

.cartSelect .select label {
  cursor: pointer;
}

.cartSelect .select label:hover {
  opacity: 0.7;
}

.cartSelect .select label:active {
  color: #F91155;
}

.cartSelect .delete {
  text-align: right;
  margin: 24px;
  font-size: 14px;
  line-height: -50px;
  text-align: right;
  color: #F91155;
  font-weight: 500;
  cursor: pointer;
}

.cartSelect .delete:hover {
  opacity: 0.7;
}

.cartSelect .delete:active {
  color: black;
}

.cartsContainer {
  position: absolute;
  width: 696px;
  left: 43%;
  -webkit-transform: translateX(-48%);
          transform: translateX(-48%);
  right: 82.13%;
  top: 198px;
  margin-top: 18px;
}

.cartsContainer .carts {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'cartsInfo cartsPrice';
  -ms-grid-columns: 7fr 3fr;
      grid-template-columns: 7fr 3fr;
  margin: 24px;
  position: relative;
}

.cartsContainer .carts .image-container {
  display: inline-block;
  width: 80px;
  height: 80px;
  left: 100px;
  background-size: contain;
  margin-left: 32px;
}

.cartsContainer .carts .name-container {
  font-size: 16px;
  position: absolute;
  height: 40px;
  left: 0px;
  right: 0px;
  top: calc(50% - 40px/2);
  margin-left: 152px;
  color: #001A34;
  width: 220px;
}

.cartsContainer .carts .cartsInfo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: cartsInfo;
}

.cartsContainer .carts .cartsPrice {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: cartsPrice;
  text-align: right;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
  font-size: 20px;
  line-height: 26px;
  text-align: right;
  color: #001A34;
  font-weight: 800;
}

.finalOrder {
  width: 696px;
  height: 281px;
  background: #F2F3F5;
  position: relative;
}

.finalOrder .orderTitle {
  position: absolute;
  height: 26px;
  left: 3.45%;
  right: 65.52%;
  top: calc(50% - 26px/2 - 103.5px);
  font-size: 20px;
  line-height: 26px;
  font-weight: 800;
  color: #001A34;
}

.finalOrder .orderPrice {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'goods summa';
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: absolute;
  color: #001A34;
  left: 3.45%;
  right: 45.98%;
  top: 23.49%;
  bottom: 69.4%;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  margin-right: 24px;
}

.finalOrder .goods {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: goods;
}

.finalOrder .summa {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: summa;
  text-align: right;
  font-size: 16;
  margin-right: 48px;
  font-weight: 800;
}

.finalOrder .orderDiscount {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'discount discountSum';
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: absolute;
  left: 3.45%;
  right: 45.98%;
  top: 36.3%;
  bottom: 56.58%;
  font-size: 16px;
  line-height: 20px;
  color: #001A34;
  width: 100%;
}

.finalOrder .orderDiscount .discount {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: discount;
}

.finalOrder .orderDiscount .discountSum {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: discountSum;
  text-align: right;
  font-size: 16;
  margin-right: 48px;
  font-weight: 800;
  color: #F91155;
}

.finalOrder hr {
  position: absolute;
  top: 46.3%;
  bottom: 56.58%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 648px;
  background: #001a342a;
}

.finalOrder .generalSum {
  position: absolute;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'generalText summa';
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  left: 3.45%;
  right: 45.98%;
  top: 55.16%;
  bottom: 35.59%;
  font-size: 20px;
  line-height: 26px;
  color: #001A34;
  width: 100%;
}

.finalOrder .generalSum .generalSum-text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: generalText;
  font-weight: 800;
}

.finalOrder .generalSum .generalSum-summa {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: summa;
  text-align: right;
  margin-right: 48px;
  font-weight: 800;
}

.finalOrder .getOrder {
  position: absolute;
  left: 3.45%;
  right: 53.74%;
  top: 77.22%;
  bottom: 8.54%;
  font-size: 16px;
  width: 100%;
}

.finalOrder .getOrder .getOrder-text {
  width: 45%;
  font-size: 16px;
  line-height: 20px;
  color: #808D9A;
  display: inline-block;
}

.finalOrder .getOrder .getOrder-button {
  position: absolute;
  left: 53%;
  top: 30%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  bottom: 7.12%;
  display: inline-block;
  width: 40%;
  text-align: right;
}

.finalOrder .getOrder .getOrder-button button {
  height: 48px;
  width: 100%;
  background: #005BFF;
  color: white;
  border: none;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.finalOrder .getOrder .getOrder-button button:hover {
  opacity: 0.7;
}

.finalOrder .getOrder .getOrder-button button:active, .finalOrder .getOrder .getOrder-button button:focus {
  outline: none;
  cursor: default;
}

.catalogButton {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 55%;
  width: 200px;
  height: 40px;
  background: #005BFF;
  color: white;
  border: none;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.catalogButton:hover {
  opacity: 0.7;
}

.catalogButton:active, .catalogButton:focus {
  outline: none;
  cursor: default;
}

.registration {
  position: absolute;
  top: 138px;
  width: 1024px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.registration form {
  position: absolute;
  width: 696px;
  left: 4.3%;
  right: 82.13%;
  top: calc(50% - 38px/2);
  background: #F2F3F5;
}

.registration form label {
  margin-left: 30px;
}

.registration output {
  display: block;
  font-size: 16px;
  margin: 40px 10px 30px 30px;
  color: #216BFF;
}

.registration input {
  display: block;
  margin: 10px 10px 30px 30px;
  border: 1px solid;
  font-size: 16px;
  height: 25px;
}

.registration select {
  display: block;
  margin: 10px 10px 30px 30px;
  border: 1px solid;
  font-size: 16px;
  height: 25px;
  width: 197px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .navigation-bg .cart .counter {
    display: block !important;
  }
  .catalogButton {
    top: 65%;
  }
  .orderTitle {
    left: 0% !important;
    top: calc(40% - 26px/2 - 103.5px) !important;
  }
}

svg:hover {
  stroke: rgba(0, 89, 255, 0.246);
}

svg:active {
  opacity: 0.7;
}

label.checkAll {
  position: absolute;
  top: 23px;
  left: 55px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 40px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 4px;
  top: 0px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.containerAll {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.containerAll input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmarkAll {
  position: absolute;
  top: 0px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containerAll:hover input ~ .checkmarkAll {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerAll input:checked ~ .checkmarkAll {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmarkAll:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerAll input:checked ~ .checkmarkAll:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerAll .checkmarkAll:after {
  left: 4px;
  top: 0px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*# sourceMappingURL=styles.css.map */