html {
    height: 100%;
}

body {
    // display: grid;
    // grid-template-areas: 'navigation-bg'
    //     'header'
    //     'main';
    // grid-template-columns: 1fr;
    // grid-template-rows: 1fr 1fr 1fr;
    font-family: Arial;
    display: relative;

}

.navigation-bg {
    position: absolute;
    width: 1024px;
    height: 60px;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    grid-area: navigation-bg;

    .mainTitle {
        position: absolute;
        left: 44px;
        top: 18px;
        background-image: url('../../pics/logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 110px;
        height: 24px;
    }

    .navigation {
        position: absolute;
        top: 28px;
        left: 342px;
        width: 541px;
        height: 16px;

        &>div {
            position: relative;
        }

        button {
            background: none;
            border: none;
            top: 0px;
            font-size: 12px;
            line-height: 16px;
            color: #808D9A;
            text-align: center;
            letter-spacing: 0.68px;
            text-transform: uppercase;
            font-weight: 600;
            margin-left: 24.5px;
            transition: all 0.3s ease 0s;
            cursor: pointer;

            &:active,
            &:focus {
                color: #001A34;
                outline: none;
            }

            &:hover {
                color: #005bff;

            }
        }

        button:nth-child(0n+1) {
            // position: absolute;
            width: 59px;
            height: 16px;
            left: calc(50% - 59px/2);
        }

        button:nth-child(0n+2) {
            // position: absolute;
            width: 70px;
            height: 16px;
            left: calc(50% - 70px/2);
        }

        button:nth-child(0n+3) {
            // position: absolute;
            width: 52px;
            height: 16px;
            left: calc(50% - 52px/2 - 0.5px);
            top: 0px;
        }

        button:nth-child(0n+4) {
            // position: absolute;
            width: 84px;
            height: 16px;
            left: calc(50% - 84px/2 - 0.5px);
            top: 0px;
        }
    }

    .face {
        position: absolute;
        width: 24px;
        height: 24px;
        left: 900px;
        top: 18px;
    }

    .cart {
        position: absolute;
        width: 24px;
        height: 24px;
        left: 948px;
        top: 18px;

        .counter {
            display: none;
            position: absolute;
            width: 23px;
            height: 16px;
            left: 13px;
            right: 0px;
            top: -5px;
            bottom: 0px;
            text-align: center;
            font-size: 12px;
            line-height: 16px;
            color: #FFFFFF;
            background: #F91155;
            border-radius: 8px;

        }
    }

}

.header {
    grid-area: header;
    position: absolute;
    width: 1024px;
    height: 78px;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;

    .title {
        position: absolute;
        height: 38px;
        width: 150px;
        left: 4.3%;
        right: 82.13%;
        top: calc(50% - 38px/2);
        font-size: 30px;
        line-height: 38px;
        font-weight: 600;
        color: #001A34;
    }

    .objects {
        position: absolute;
        height: 20px;
        left: 19.75%;
        right: 74.32%;
        top: calc(50% - 20px/2 + 5px);
        width: 200px;
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
        color: #808D9A;
    }
}

.main {
    position: absolute;
    top: 138px;
    width: 1024px;
    left: 50%;
    transform: translateX(-50%);
}

.singleGood {
    width: 216px;
    height: 384px;
    display: inline-block;
    margin: 20px;

    .picture {
        height: 200px;
        width: 200px;
    }

    .info-block {
        width: 216px;
        height: 96px;
        position: relative;

        .badge {
            position: absolute;
            width: 34px;
            height: 20px;
            // left: 524px;
            top: -30px;
            background: #F91155;
            border-radius: 3px;
            color: white;
            text-align: center;
            font-size: 12px;
            line-height: 16px;

            .badgeText {
                position: absolute;
                height: 16px;
                left: 6px;
                right: 1px;
                top: calc(50% - 16px/2);
                font-size: 12px;
                line-height: 16px;
                /* identical to box height, or 133% */

                text-align: center;

                color: #FFFFFF;
            }
        }

        .price-block {
            .currentPrice {
                font-weight: 800;
                width: auto;
            }

            position: absolute;
            width: 100%;
            height: 26px;
            left: 0px;
            top: -4px;

            .oldPrice {
                font-size: 12px;
                line-height: 16px;
                color: #001A34;
            }

        }


        .name-block {
            position: absolute;
            height: 40px;
            left: 0px;
            right: 0px;
            top: calc(50% - 40px/2 - 12px);
            font-size: 16px;
            line-height: 20px;

        }

        .stars {
            position: absolute;
            left: 0%;
            right: 18.52%;
            top: 71.88%;
            bottom: 0%;
            font-size: 14px;
            line-height: 18px;
            color: #808D9A;
        }

        .buttonContainer {
            position: absolute;
            left: 0%;
            right: 18.52%;
            top: 100%;

            button {
                width: 96px;
                height: 32px;
                background: #005BFF;
                color: white;
                border: none;
                border-radius: 3px;
                font-weight: 600;
                cursor: pointer;
                transition: all 0.3s ease 0s;

                &:hover {
                    opacity: 0.7;
                }

                &:active,
                &:focus {
                    outline: none;
                }
            }
        }
    }
}

.cartSelect {
    position: absolute;
    width: 696px;
    height: 60px;
    left: 43%;
    transform: translateX(-48%);
    right: 82.13%;
    top: 138px;
    background: #F2F3F5;
    display: grid;
    grid-template-areas: 'left right';
    grid-template-columns: 1fr 1fr;

    .select {
        margin: 24px;
        text-align: left;
        font-size: 14px;
        line-height: -50px;
    }

    .delete {
        text-align: right;
        margin: 24px;
        font-size: 14px;
        line-height: -50px;
        text-align: right;
        color: #F91155;
        font-weight: 500;
    }
}

.cartsContainer {
    position: absolute;
    width: 696px;
    // height: 60px;
    left: 43%;
    transform: translateX(-48%);
    right: 82.13%;
    top: 198px;
    margin-top: 18px;

    .carts {
        display: grid;
        grid-template-areas: 'cartsInfo cartsPrice';
        grid-template-columns: 7fr 3fr;
        margin: 24px;
        position: relative;

        .image-container {
            display: inline-block;
            width: 80px;
            height: 80px;
            left: 100px;
            background-size: contain;
            margin-left: 32px;
        }

        .name-container {
            font-size: 16px;
            position: absolute;
            height: 40px;
            left: 0px;
            right: 0px;
            top: calc(50% - 40px/2);
            margin-left: 152px;
            color: #001A34;
            width: 220px;
            cursor: pointer;
        }

        .cartsInfo {
            grid-area: cartsInfo;
        }

        .cartsPrice {
            grid-area: cartsPrice;
            text-align: right;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 50%;
            transform: translateY(-25%);
            font-size: 20px;
            line-height: 26px;
            text-align: right;
            color: #001A34;
        }
    }
}

.finalOrder {
    width: 696px;
    height: 281px;
    background: #F2F3F5;
    position: relative;

    .orderTitle {
        position: absolute;
        height: 26px;
        left: 3.45%;
        right: 65.52%;
        top: calc(50% - 26px/2 - 103.5px);
        font-size: 20px;
        line-height: 26px;
        font-weight: 800;
        color: #001A34;
    }

    .orderPrice {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: absolute;
        color: #001A34;
        left: 3.45%;
        right: 45.98%;
        top: 23.49%;
        bottom: 69.4%;
        font-size: 16px;
        line-height: 20px;
        width: 100%;
        margin-right: 24px;
    }
    .goods{
        left: 3.45%;
        right: 45.98%;
        top: 23.49%;
        bottom: 69.4%;
        font-size: 16px;
        line-height: 20px;
    }
}